{% extends 'main.html' %}


{% block content %}
    <div>
    {{ room.name }}
    {{room.discription}}

    <p>Conversation</p>
    <hr>
    <div>
        {% for room_message in room_messages %}
        
        {% if request.user == room_message.host %}         
        <a href="{% url 'delete-message' room_message.id%}">Delete</a>
        {% endif %}

         <small>@{{room_message.host}} {{room_message.created|timesince}} ago</small>
            <h4>{{room_message}}</h4>
        {% endfor %}

        
        {% if request.user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Enter new message..." name="body">
            </form>            
        {% endif %}
    </div>
    </div>    
{% endblock content %}
